.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	text-align: center;
}

.status {
	color: var(--text-accent);
	font-style: italic;
	a {
		font-size: 0.75rem;
	}
}
