body {
	--_access-menu-background-color: var(--bg-color);
	--_access-menu-item-button-background: var(--bg-accent);
	--_access-menu-item-color: var(--text-color);
	--_access-menu-header-color: var(--text-color);
	--_access-icon-bg: var(--accent);

	--_access-icon-left: 10px;
	--_access-icon-right: unset;

	--_access-menu-left: 0px;
	--_access-menu-right: unset;
}

._access-menu.close {
	right: unset !important;
	left: calc(-1 * var(--_access-menu-width, 25vw)) !important;
}
